<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hi there</title>
</head>

<body>
    <h1>Hi there! WSE enroll-bot</h1>
    <form method="POST" action="/setup-profile">
        <button type="submit">Setup Profile</button>
    </form>
</body>

</html>